<ul>
  {% for etudiant in etudiants %}
     <li>
      {{etudiant | upper}}
     </li>
         {% else %}
           <strong> la liste des etudiants est vide </strong>
  {% endfor%}
  
  <h1>Liste des modules<h1>
  <table border="1">
    <tr>
      <td>idModule</td>
      <td>Nom</td>
      <td>Enseignant</td>
      <td>Nombre Heures</td>
      <td>Date</td>
    </tr>

    {% for m in listeModules %}
        <tr>
          <td>{{ m.id }}</td>
          <td>{{ m.nom }}</td>
          <td>{{ m.enseignant }}</td>
          <td>{{ m.nbrHeures }}</td>
          <td>{{ m.date }}</td>
        </tr>
    {% endfor %}
  </table>
</ul>